{% extends "base.html" %}

{% block content %}
  <div class="row full-width">
    <br/>
    <div class="large-12 columns">
      {% if port.is_trunk() %}
        <h2>Trunk Port {{port.descr()}}</h2>
        <h5>Members: {% for member in port.members() %}
          <span class="label {% if member.is_up() %}success{% endif %}">
            {{ member.descr() }} {# { member.alias() } #}
          </span>{% endfor %}</h5>
      {% elif port.is_lacp() %}
        <h2>LACP Port {{port.descr()}}</h2>
        <h5>Members: {% for member in port.members() %}
          <span class="label {% if member.is_up() %}success{% endif %}">
            {{ member.descr() }} {# { member.alias() } #}
          </span>{% endfor %}</h5>
      {% else %}
        <h2>Port: {{port.idx()}}</h2>
      {% endif %}
    </div>
    
    <div class="large-12 columns">
      <a href="/switch/{{ hostname }}">Back to Switch: {{ hostname }}</a>
      <form action="/port/{{ hostname }}/{{ port.idx() }}/save" method="POST">
      <table>
        <tr>
        <th>Port idx</th>
        <th>Port desc</th>
        <th>Port alias</th>
        <th>Port auth</th>
        <th>Unauth Vid</th>
        <th>Auth Vid</th>
        <th>Macs</th>
        </tr>
        <tr>
          <td><span class="label{% if port.is_up() %} success{% endif %}">{{ port.idx() }}</span></td>
          <td>{{ port.descr() }}</td>
          <td><input name='ifalias' type='text' value='{{ port.alias() }}' /></td>
          <td>
            <select name="802.1x-enabled">
              <option value="1" {% if port.has_port_auth()  %}selected{% endif %}>Yes</option>
              <option value="2" {% if not port.has_port_auth() %}selected{% endif %}>No</option>
            </select>
          </td>
          <td><input name='UNAUTHVID' type='number' style="width:4.5em;" min=-1 max=200 value="{{ port.unauth_vid() }}" /></td>
          <td><input name='AUTHVID' type='number' style="width:4.5em;" min=-1 max=200 value="{{ port.auth_vid() }}" /></td>
          <td>{% for mac in port.get_macs() %} {{ mac }}&nbsp;{% endfor %}
          </td>
        </tr>
      </table>
      <button type="submit">Speichern</button>
      </form>
      {% if port.has_port_auth() %}
        <table>
        {% for item in port.get_auth_info() %}
          <tr>
            <td>{{ item.oid }}</td><td>{{ item.value }}</td>
          </tr>
        {% endfor %}
        </table>
      {% endif %}
    </div>
    <div class="large-12 columns">
      <!-- Port membership -->
      <h5>VLAN Membership</h5>
      {% set vlans = device.vlans() %}
      <table>
        <thead>
          <tr>
            <th>VLAN ID</th>
            {%- for vlan_id in vlan_membership %}
              <th>{{ vlans.get_vlan(vlan_id.0).name() }} ({{ vlan_id.0 }})</th>
            {%- endfor %}
            <th>Add tagged VLAN</th>
          </tr>
        </thead>
        <tr>
            <td>&nbsp;</td>
            {%- for vlan_mem in vlan_membership %}
            <td>
            {%- if vlan_mem.1 == 'f' %}
              <span class="label alert">Forbid</span>
            {%- elif vlan_mem.1 == 'u' %}
              <span class="label success">Untagged</span>
            {%- elif vlan_mem.1 == 't' %}
              <span class="label">Tagged</span>
            {%- endif %}
            <form action="/port/{{ device.hostname }}/{{ port.idx() }}/remove/vlan" method="POST">
              <input type="hidden" name="vlan" value="{{ vlan_mem.0 }}" />
              <button type="submit" class="label alert">X</button>
            </form>
            </td>
          {%- endfor %}
          <td>
          <form action="/port/{{device.hostname}}/{{port.idx()}}/add/vlan" method="POST">
            <select name="vlan">
              {% for vlan in vlans %}
                <option value={{ vlan.vid() }}>{{ vlan.name() }}</option>
              {% endfor %}
            </select>
            <button class="small" type="submit">Hinzufügen</button>
          </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
{% endblock %}
    
{% block jsscript %}
{% endblock %}
