{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <a href="/">Back to overview</a>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <form method="POST" action="/search/mac/">
        <label>Search Mac Address</label>
        <input name="mac" type="text" value="{{ mac }}"/>
        <button type="submit">Suchen</button>
      </form>
    </div>
  </div>
  {% if result %}
  <div class="row">
    <div class="large-4 columns">
      <table>
        <tr><th>Switch</th><th>Port</th></tr>
        {% for t in result %}
          <tr><td>{{ t.0 }}</td><td><span class="{% if t.1.is_up() %}success{% endif %} label"><a href="/port/{{ t.0 }}/{{ t.1.idx() }}">{{ t.1.descr() }}</a>
        </span></td></tr>
      {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
{% endblock %}
    
{% block jsscript %}
{% endblock %}
