{% extends "base.html" %}

{% block content %}
  <div class="row full-width">
    <br/>
    <div class="large-6 columns">
      <table>
        <tr>
          <th>Port</th>
          {% for vlan in vlans %}
          <th>{{ vlan }}</th>
          {% endfor %}
        </tr>
        {% for interface in interfaces %}
          <tr>
            <td>{{ interface.idx() }}</td>
            {% for vlan in vlans %}
              <td>
                <span class="port-select">
                  <select>
                      <option value="u" {% if vlan.is_untagged(interface.idx()) %}selected{% endif %}>untagged</option>
                      <option value="t" {% if vlan.is_tagged(interface.idx()) %}selected{% endif %}>tagged</option>
                      <option value="f" {% if vlan.is_forbidden(interface.idx()) %}selected{% endif %}>forbid</option>
                      <option value="n" >no</option>
                  </select>
                </span>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </div>
  </div>
{% endblock %}
    
{% block jsscript %}
{% endblock %}
