{% extends "base.html" %}

{% block content %}
  <div class="row full-width">
    <br/>
    <div class="large-6 columns">
      <table>
        <tr>
          <th>Port</th>
          <th>Desc</th>
          {% for vlan in vlans %}
            <th>{{ vlan }}</th>
          {% endfor %}
          <th>
            Action
          </th>
        </tr>
        <form action="/vlan/{{ hostname }}/savetable" method="POST">
        {% for interface in interfaces %}
          <tr>
            <td>{{ interface.idx() }}</td><td> {{ interface.alias_or_descr() }}</td>
            {% for vlan in vlans %}
              <td>
                {% set selectid = interface.idx()~'-'~vlan.vid() %}
                <span class="port-select" id="{{ selectid }}" onchange="mark_changed('{{ selectid }}');">
                  <select name="{{ selectid }}">
                      <option value="u" {% if vlan.is_untagged(interface.idx()) %}selected{% endif %}>untagged</option>
                      <option value="t" {% if vlan.is_tagged(interface.idx()) %}selected{% endif %}>tagged</option>
                      <option value="f" {% if vlan.is_forbidden(interface.idx()) %}selected{% endif %}>forbid</option>
                      <option value="n" >no</option>
                  </select>
                </span>
              </td>
            {% endfor %}
            <td><button class="tiny" type="submit">Abschicken</button></td>
          </tr>
        {% endfor %}
        </form>
    </div>
  </div>
{% endblock %}
    
{% block jsscript %}
  function mark_changed(elem_id) {
      var elem = document.getElementById(elem_id);
      elem.className += " markedChanged";
  }
{% endblock %}
