<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css" />
    <script src="/static/js/vendor/modernizr.js"></script>

	{% block css %}
	  {# for css extensions #}
	{% endblock css %}	
  </head>
    <title>Neuland ProCurve Manager</title>
  <body>
	{% block content %}
	{% endblock %}
    <script type="text/javascript">
	  {% block jsscript %}
	    {# for in template extensions #}
      {% endblock jsscript %}
    </script>
  </body>
</html>
